body {
    /* background-color: black; */
}

#title {
    /* color: white; */
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

#documents , #fragments {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.document_navigation_item , .fragment_navigation_item {
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    background-color: lightgreen;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}

#annotate_panes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#annotate_document , #annotate_fragment , #documents_panel , #documents_viewer_panel {
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    background-color: lightgrey;
}

#documents_panel {
    max-height: 20em;
    overflow: auto;
}

#annotate_document {
    width: 33%;
}

#annotate_fragment {
    width: 66%;
}

#annotate_document > textarea , #annotate_fragment > textarea {
    width: 100%;
}

#document_code_navigation , #document_code_item_automatics , #fragment_code_navigation , 
#fragment_code_item_automatics , #fragments_navigation , #create_fragment_navigation,
#delete_fragment_wraper {
    display: flex;
    flex-direction: row;    
    justify-content: center;
}

.document_code_item , .document_code_item_automatic ,
.fragment_code_item , #create_fragment_button ,  .fragment_code_item_automatic , 
.export-button, 
#delete_fragment_button {
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    background-color: lightgrey;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}

#delete_fragment_button {
    background-color: rosybrown;
}

.selected_item {
    background-color: lightblue !important;
}

.selected_item_fragment , .selected_item_document {
    font-weight: bold;
    /* background-color: lightblue !important; */
}

#document_viewer {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

#document_fragment_codes {
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    background-color: lightgrey;
    cursor: pointer;
}

#dump {
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    background-color: rgb(250, 215, 237);
}

#dump_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}


#dump_output {
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    max-height: 400px;
    overflow: auto;
    text-align: unset;
}

.export-button {
    max-width: 200px;
}

#file-input {
    display: none;
}