#code_document_json_viewer {
  height: 250px;
  overflow: scroll;
  padding: 10px;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  background-color: lightgrey;
  border: solid 1px black;
}

#document_index {
  /*visibility: hidden;*/
  color: red;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  background-color: greenyellow;
}

#document_viewer {
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  background-color: antiquewhite;
}

.document_navigation_item {
  padding: 5px;
  margin: 5px;
  border: solid 1px black;
  background-color: lightgrey;
}

.document_navigation {
  display: flex;
  flex-direction: row;
}

